/*--------------------*/
/*----- navbar -------*/
/*--------------------*/

#navbar-comments {
	background-color: rgba(20, 196, 148, 1);
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

/*--------------------*/
/*------ table -------*/
/*--------------------*/

table {
	border-collapse: collapse;
	table-layout: auto;
	width: 300%
}

th, td {
	text-align: left;
	line-height: 2;
	padding: 0 0 0 10px;
	border: 1.8px solid #fff;
}

tr:first-of-type {
	border-bottom: 3px solid #666;
}

tr:nth-of-type(even) {
	background-color: #eee;
}
