/*--------------------*/
/*----- navbar -------*/
/*--------------------*/

#navbar-edit {
    background-color: rgba(20, 196, 148, 1);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

/*--------------------*/
/*----- editor -------*/
/*--------------------*/

.CodeMirror {
    height: 350px;
}

/*--------------------*/
/*------ form --------*/
/*--------------------*/

.normal-form-wrapper {
    width: 450px;
}

#title-label, #category-label {
    display: inline-block;
    width: 20%;
    font-size: 1.1em;
    padding-bottom: 10px;
}

#category-label {
    cursor: pointer;
}

#title, #category {
    box-sizing: border-box;
    width: 70%;
    font-size: 1.1em;
    padding: 2.5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

#category-label ul {
    display: none;
    list-style: none;
    position: absolute;
    top: 80px;
    left: 185px;
    z-index: 99;
    padding: 0px;
    margin: 0px;
}

#category-label:hover ul {
    display: block;
}

#category-label ul li {
    cursor: pointer;
    background-color: #ddd;
    font-size: 1.1em;
    line-height: 1.4em;
    padding: 2px 10px 2px 5px;
    border-radius: 5px;
    margin-top: 2px;
}

#category-label ul li:hover {
    background-color: #666;
    color: #fff;
    transition: all linear .2s;
}

#abstract-label {
    display: block;
    font-size: 1.1em;
    margin-bottom: 10px;
}

#abstract {
    width: 390px;
    height: 150px;
    font-size: 1.1em;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}
