/*--------------------*/
/*----- navbar -------*/
/*--------------------*/

#navbar-modify {
    background-color: rgba(20, 196, 148, 1);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
