/*--------------------*/
/*----- navbar -------*/
/*--------------------*/

#navbar-posts {
	background-color: rgba(20, 196, 148, 1);
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

/*--------------------*/
/*----- table -------*/
/*--------------------*/

table {
	width: 120%;
	border-collapse: collapse;
	table-layout: auto;
}

th, td {
	text-align: left;
	line-height: 2;	
	padding: 0 0 0 10px;
	border: 1.8px solid #fff;
}

tr:first-of-type {
	border-bottom: 3px solid #666;
}

tr:nth-of-type(even) {
	background-color: #eee;
}

th a {
	display: block;
	color: rgba(20, 38, 100, 1);
	text-decoration: none;
}

th a:hover {
	color: rgba(20, 196, 148, 1);
	transition: color linear .4s;
}

form button {
	vertical-align: 2px;
}
