<!DOCTYPE html>
<html>
	<head>
	<meta charset='UTF-8'>
	<title>an9wer's blog</title>
	{% block css %}
		<link rel='stylesheet' type='text/css' href='/visitor/static/css/fonts.css'>
		<link rel='stylesheet' type='text/css' href='/visitor/static/css/base.css'>
	{% endblock %}
	</head>

	<body class='font-hei'>
		<!-- Navigation -->
		<div class='header-wrapper'>
			<div class='header center-container'>
				<a href='/' class='logo'>an9wer</a>
				<div class='links'>
					<a href='/archive'>archive</a>
					<a href='/about'>about</a>
				</div>
			</div>
		</div>

		<!-- content -->
		<div class='content-wrapper'>
			<div class='content center-container'>
				{% block content %}{% endblock %}
			</div>
		</div>

		<!-- footer -->
		<div class='footer-wrapper'>
			<div class='main-center footer'>
				<p>
					<span>Powered by</span>
					<a href='http://flask.pocoo.org'>Flask</a>
				</p>
			<div>
		</div>
		{% block script %}{% endblock %}
	</body>
</html>
