{% extends 'base.html' %}

{% block content %}
	<!-- post -->
	<div class='post normal-post'>
		<!-- post title -->
		<h1 class='title'>{{ post.title }}</h1>
		<!-- post publish time -->
		<span class='date'>{{ post.publish_time }}</span>
		<!-- post body -->
		<div class='post-body'>
			{{ post.body }}
			<p class='eof'>· EOF ·</p>
		</div>
	</div>
	<!-- comment form -->
	<div>
		<form method='post'>
			{{ form.name.label }}<br>
			{{ form.name(onblur='validate_input(this.name); return false;') }}
				<span id='name_error'></span><br>
			{{ form.email.label }}<br>
			{{ form.email(onblur='validate_input(this.name); return false;') }}
				<span id='email_error'></span><br>
			{{ form.url.label }}<br>
			{{ form.url(onblur='validate_input(this.name); return false;') }}
				<span id='url_error'></span><br>
			{{ form.body.label }}<br>
			{{ form.body(onblur='validate_input(this.name); return false;') }}
				<span id='body_error'></span><br>
			{{ form.submit(value='Submit', onclick='submit_comment(); return false;') }}
		</form>
	</div>
	<!-- comments list -->
	<div class='comment-wrapper' id='comment-wrapper'>
		{% set comment_tag = 1 %}
		{% for comment in comments %}
			<div id='comment-{{ comment.id }}'>
				<div class='comment-header'>
					{{ comment.visitor.name }}
					 · #{{ comment_tag }} · 
					{{ comment.timestamp }}
				</div>
				<div class='comment-body'>
					{{ comment.body }}
				</div>
			</div>
		{% set comment_tag = comment_tag + 1 %}
		{% endfor %}
	</div>
	<script type='text/javascript' src='/visitor/static/js/validate_input.js'></script>
	<script type='text/javascript' src='/visitor/static/js/submit_comment.js'></script>
{% endblock %}
