{% extends 'layout.html' %}

{% block css %}
	{{ super() }}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
	<link rel='stylesheet' type='text/css' href='/admin/static/css/edit.css'>
	<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
{% endblock %}

{% block content %}
	<form method='post'>
		<div class='editor-form-wrapper'>
			<input id='title' name='title' type='text' placeholder='title' >
			<textarea id='editor' name='body'></textarea>
		</div>
	</form>
{% endblock %}

{% block js %}
	<script>
		var editor = new SimpleMDE({element: document.getElementById('editor')});
	</script>
{% endblock %}
