{% extends 'layout.html' %}

{% block css %}
    {{ super() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <link rel='stylesheet' type='text/css' href='/admin/static/css/edit.css'>
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
{% endblock %}

{% block content %}
    <form method='post'>
        <div class='editor-form-wrapper'>
            <div class='normal-form-wrapper font-hei'>
                <label id='title-label' for='title'>Title:</label>
                <input id='title' class='font-hei' name='title' type='text' required>
                <label id='category-label'>
                    Category:
                    <ul>
                        {% for category in categories %}
                            <li onclick='document.getElementById("category").setAttribute("value", "{{ category.name }}")'>{{ category.name }}</li>
                        {% endfor %}
                    </ul>
                </label>
                <input id='category' class='font-hei' name='category' type='text' required>
            <label id='abstract-label' for='abstract'>Abstract:</label>
            <textarea id='abstract' class='font-hei' name='abstract' required></textarea>
            </div>
            <textarea id='editor' name='body'></textarea>
        </div>
        <button type='submit'>Submit</button>
    </form>
{% endblock %}

{% block js %}
    <script>
        var editor = new SimpleMDE({element: document.getElementById('editor')});
    </script>
{% endblock %}
