<!DOCTYPE html>
<html>
<head>
	<meta charset='UTF-8'>
	{% block css %}
		<link rel='stylesheet' type='text/css' href='/admin/static/css/font.css'>
		<link rel='stylesheet' type='text/css' href='/admin/static/css/layout.css'>
	{% endblock %}
</head>

<body>
	<div class='navbar'>
		<ul>
			<li><a href=''>Dashboard</a></li>
			<li id='navbar-edit'><a href='/admin/edit'>Edit</a></li>
			<li id='navbar-posts'><a href='/admin/posts'>Posts</a></li>
			<li id='navbar-comments'><a href='/admin/comments'>Comments</a></li>
		<ul>
	</div>

	<div class='main'>
		{% block content %}{% endblock %}
	</div>
	{% block js %}{% endblock %}
</body>
</html>
