<!DOCTYPE html>
<html>
<head>
	<meta charset='UTF-8'>
	<title>admin login</title>
	<link rel='stylesheet' type='text/css' href='/admin/static/css/login.css'>
</head>

<body>
	<form class='login-form' method='post'>
		<h3 class='title'>Hello.</h3>
		<div class='input-wrapper'>
			<input class='' name='name' type='text' placeholder='Admin'>
		</div>
		<div class='input-wrapper'>
			<input class='' name='password' type='password' placeholder='Password'>
		</div>
		<button type='submit'>Login</button>
	</form>
</body>
</html>
