{% extends 'layout.html' %}

{% block css %}
	{{ super() }}
	<link rel='stylesheet' type='text/css' href='/admin/static/css/posts.css'>
{% endblock %}

{% block content %}
<table>
	<colgroup>
		<col class='id'>
		<col class='category'>
		<col class='publish-time'>
		<col class='title'>
		<col class='views'>
		<col class='comments'>
	</colgroup>
	<tr>
		<th scope='col'><a href='/admin/posts?sort=id'>id</a></th>
		<th scope='col'><a href='/admin/posts?sort=category'>category</a></th>
		<th scope='col'><a href='/admin/posts?sort=publish+time'>publish time</a></th>
		<th scope='col'><a href='/admin/posts?sort=title'>title</a></th> 
		<th scope='col'><a href='/admin/posts?sort=views'>views</a></th>
		<th scope='col'><a href='/admin/posts?sort=comments'>comments</a></th>
	</tr>
	{% for post, comments in posts %}
		<tr>
			<td>{{ post.id }}</td>
			<td>{{ post.category.name }}</td>
			<td>{{ post.publish_time }}</td>
			<td>{{ post.title }}</td>
			<td>{{ post.view_number }}</td>
			<td>{{ comments }}</td>
		</tr>
	{% endfor %}
</table>
{% endblock %}
